<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 2</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>


        <div class="menu"><p id="headertext">Moment 2 Backend</p>
            <nav>
                <ul>
                    <li><a href="index.html">Your work experience</a></li>
                    <li><a  class="current" href="about.html">About</a></li>
                    <li><a href="addexperiences.html">Add experiences</a></li>

                </ul>
            </nav>
        </div>
    </header>
    <main>
        <article>
            <h1>Backend-development, mid sweden university</h1>
            <h2>Rosali Johansson</h2>
            <p id="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil est sit facilis possimus modi? In minima culpa cumque maxime dolore reprehenderit tempore omnis tenetur delectus distinctio. Voluptas dignissimos voluptatem minima?</p>
        </article>
    </main>
    <!--footer-->
    <footer>
        <p>Laborationsuppgift för kursen Backend-baserad utveckling
        </p>
        <p>Mittuniversitetet</p>
        <p>Copyright © 2025 Rosali Johansson</p>
    </footer>
</body>
</html>